<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.orderfood.demos.web.mapper.ActivityMapper">

    <!-- 这里可以添加一些公共的sql片段 -->
    <sql id="Base_Column_List">
        activity_id, activity_name, coupon_type, shop_id, activity_status, begin_time, end_time
    </sql>
    
    <!-- insert语句 -->
    <insert id="insert" parameterType="com.example.orderfood.demos.web.model.Activity">
        INSERT INTO activity (activity_name, coupon_type, shop_id, activity_status, begin_time, end_time)
        VALUES (#{activityName}, #{couponType}, #{shopId}, #{activityStatus}, #{beginTime}, #{endTime})
    </insert>
    
    <!-- updateById语句模板 -->
    <update id="updateById" parameterType="com.example.orderfood.demos.web.model.Activity">
        <!-- 具体的update语句由用户补充 -->
    </update>
    
    <!-- updateSelective语句模板 -->
    <update id="updateSelective" parameterType="com.example.orderfood.demos.web.model.Activity">
        <!-- 具体的update语句由用户补充 -->
    </update>
    
    <!-- deleteById语句 -->
    <delete id="deleteById" parameterType="java.math.BigInteger">
        DELETE FROM activity WHERE activity_id = #{activityId}
    </delete>
    
    <!-- selectById语句 -->
    <select id="selectById" parameterType="java.math.BigInteger" resultType="com.example.orderfood.demos.web.model.Activity">
        SELECT <include refid="Base_Column_List" />
        FROM activity
        WHERE activity_id = #{activityId}
    </select>
    
    <!-- selectAll语句 -->
    <select id="selectAll" resultType="com.example.orderfood.demos.web.model.Activity">
        SELECT <include refid="Base_Column_List" />
        FROM activity
    </select>
    
    <!-- selectByExample语句模板 -->
    <select id="selectByExample" parameterType="com.example.orderfood.demos.web.model.Activity" resultType="com.example.orderfood.demos.web.model.Activity">
        <!-- 具体的select语句由用户补充 -->
    </select>
    
</mapper>