<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.orderfood.demos.web.mapper.AdministratorMapper">

    <!-- 这里可以添加一些公共的sql片段 -->
    <sql id="Base_Column_List">
        admin_id, admin_name, phone_num, admin_account, password, jurisdiction
    </sql>
    
    <!-- insert语句 -->
    <insert id="insert" parameterType="com.example.orderfood.demos.web.model.Administrator">
        INSERT INTO administrator (admin_name, phone_num, admin_account, password, jurisdiction)
        VALUES (#{adminName}, #{phoneNum}, #{adminAccount}, #{password}, #{jurisdiction})
    </insert>
    
    <!-- updateById语句模板 -->
    <update id="updateById" parameterType="com.example.orderfood.demos.web.model.Administrator">
        <!-- 具体的update语句由用户补充 -->
    </update>
    
    <!-- updateSelective语句模板 -->
    <update id="updateSelective" parameterType="com.example.orderfood.demos.web.model.Administrator">
        <!-- 具体的update语句由用户补充 -->
    </update>
    
    <!-- deleteById语句 -->
    <delete id="deleteById" parameterType="java.math.BigInteger">
        DELETE FROM administrator WHERE admin_id = #{adminId}
    </delete>
    
    <!-- selectById语句 -->
    <select id="selectById" parameterType="java.math.BigInteger" resultType="com.example.orderfood.demos.web.model.Administrator">
        SELECT <include refid="Base_Column_List" />
        FROM administrator
        WHERE admin_id = #{adminId}
    </select>
    
    <!-- selectAll语句 -->
    <select id="selectAll" resultType="com.example.orderfood.demos.web.model.Administrator">
        SELECT <include refid="Base_Column_List" />
        FROM administrator
    </select>
    
    <!-- selectByExample语句模板 -->
    <select id="selectByExample" parameterType="com.example.orderfood.demos.web.model.Administrator" resultType="com.example.orderfood.demos.web.model.Administrator">
        <!-- 具体的select语句由用户补充 -->
    </select>
    
</mapper>